input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input{
    max-width: fit-content;
    margin: 5px;
}
button{
    margin: 5px;
}
/* table {
    white-space: nowrap;
}
table tbody {
    width: 100%;
} */
